:root {
    --font-family: 'Open Sans', system-ui, sans-serif;
    --line-height: 1.5;
    --font-weight: 400;

    --color-primary: #242424;
    --color-text: rgba(255, 255, 255, 0.87);
    --color-bg: #242424;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: var(--font-family);
    background: linear-gradient(135deg, #0d9488 0%, #4338ca 100%);
    /* Teal to Indigo */
    background-attachment: fixed;
    color: #333;
}

#root {
    width: 100%;
    padding: 0;
    text-align: left;
}